@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrapper {
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar{
    width: 220px;
    position: absolute;
    background: #3D454D;
}

.navbar .title{
    height: 50px;
}

.navbar .title .control{
    position: absolute;
    top: 16px;
    left: 22px;
}

.navbar .title .control:hover{
    cursor: pointer;
}


.navbar .title .control .line{
    height: 3px;
    background: #B1B3B6;
    width: 16px;
    margin: 2px 0;
    border-radius: 2px;
    -webkit-transition: background .2s;
}

.navbar .nav{
    margin: 0;
    padding: 0;
}

.navbar .nav .nav-item{
    height: 30px;
    padding:8px 24px;
    color: #B1B3B6;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.navbar .nav .nav-item:hover{
    background: #383F45;
}
.navbar .nav .selected{
    background: #383F45;
    color: #FFF;
}


/* container */
.container{
    position: absolute;
    left: 220px;
    width: 100%;
}

.container .head{
    height: 50px;

    background: #FAFAFA;
    border-bottom: 1.5px solid #DADADA;
}

.container .control{
    margin: 5px 0 0 5px;
    padding: 10px;
    float: left;
    display: none;
}

.container .control:hover{
    cursor: pointer;
    background: #EEEEEE;
}

.container .control .line{
    height: 3px;
    background: #666666;
    width: 16px;
    margin: 2px 0;
    border-radius: 2px;
    -webkit-transition: background .2s;
}

.container .head .title{
    margin: 10px 0 0 20px;
    padding: 0;
    float: left;
    color: #666666;
    text-decoration: none;
    font-size: 20px;
}


.slide{
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
}
.slide .slide-nav{
    margin: 0;
    padding: 0;
    list-style-type: none; 
}

.slide .slide-nav li{
    float: left;
}

.slide .slide-nav li a{
    display: inline-block;
    padding: 4px 8px;
    height: 30px;
}

