<div class="search">
    <select id="ddlPlace" class="chosen-select" data-placeholder="地點">
        <option value=""></option>
        <option>弘業樓</option>
        <option>昌明樓</option>
        <option>翰英樓</option>
        <option>奇秀樓</option>
        <option>中正大樓</option>
        <option>行政大樓</option>
    </select>

    <select id="ddlUnit" class="chosen-select" data-placeholder="單位">
        <option value=""></option>
        <option>註冊組</option>
        <option>學務處</option>
    </select>
</div>