<div id="photo-admin">
    <div id="photo-slider-build1" class="photo-slider">
        <div class="photo-box">
            <img src="img/admin/校長室.jpg" data-img="img/admin/校長室.jpg" data-title="校長室" alt="">
        </div>
    </div>

    <div id="photo-slider-build2" class="photo-slider">
        <div class="photo-box">
            <img src="img/admin/註冊組.jpg" data-img="img/admin/校長室.jpg" data-title="註冊組" alt="">
        </div>
    </div>

    <div id="photo-slider-build3" class="photo-slider">
        <div class="photo-box">
            <img src="img/admin/圖書館.jpg" data-img="img/admin/校長室.jpg" data-title="圖書館" alt="">
        </div>
    </div>

</div>


<!-- Enter Photo -->
<div class="photo-form">
    <div class="photo-title">
        <label class="photo-main-title">校長室</label>
        <div class="photo-control">X</div>
    </div>
    <div class="photo-main">
        <img class="photo-main-img" src="img/admin/校長室.jpg" alt="" />
    </div>
</div>