
<div class="row">
    <div class="col col-lg-6">
        <div class="building-img" data-src="b1">
            <div class="building-panel">
                <h2>弘業樓</h2>
                <span>↓</span>
                <p>弘業樓位於本校大門口右側，一共有八樓，一樓為體育館場地，部分大型集會於此區進行，二、三樓層為教師研究室，其餘為教室。流管系系辦可以在二樓找到。</p>
            </div>
        </div>
    </div>
    <div class="col col-lg-6">
        <div class="building-img" data-src="b2">
            <div class="building-panel">
                <h2>昌明樓</h2>
                <span>↓</span>
                <p>昌明樓位於本校中庭正後方，一樓左側為進修學院，一樓右側為教官室及校安中心、生輔組、衛保組、健康中心。室內設計系、多媒體設計系、商業設計系系辦，分別在三樓、四樓、五樓。</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-6">
        <div class="building-img" data-src="b3">
            <div class="building-panel">
                <h2>翰英樓</h2>
                <span>↓</span>
                <p>翰英樓位於操場旁，司令台後方，大部分教室為普通教室，其餘有教授休息室、專業教室及軍械室。</p>
            </div>
        </div>
    </div>
    <div class="col col-lg-6">
        <div class="building-img" data-src="b4">
            <div class="building-panel">
                <h2>奇秀樓</h2>
                <span>↓</span>
                <p>奇秀樓位於體育館後方，操場旁，一樓為體育室，地下一樓為撞球教室，二樓為教授研究室，三、四樓為軍護專業教室。</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-6">
        <div class="building-img" data-src="b5">
            <div class="building-panel">
                <h2>資訊館</h2>
                <span>↓</span>
                <p>資訊館位於本校大門口左側，行政大樓後方，有電腦教室、音樂教室、視聽教室、多媒體教室 。資管系系辦在4樓、資工系系辦位於五樓，九樓有桌球室及韻律教室。</p>
            </div>
        </div>
    </div>
    <div class="col col-lg-6">
        <div class="building-img" data-src="b6">
            <div class="building-panel">
                <h2>中正大樓</h2>
                <span>↓</span>
                <p>中正大樓位於本校大門口左側，資訊館右側，包含通識中心、語言中心、國際會議廳，一樓為閱覽室。國貿系系辦位於此棟七樓，應英系、應日系、應中系系辦分別在五樓、六樓、九樓。</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-6">
        <div class="building-img" data-src="b7">
            <div class="building-panel">
                <h2>中商大樓</h2>
                <span>↓</span>
                <p>中商大樓位於中華路旁，翰英樓後方，一樓為圖書館，二、三樓有會議廳。會資系、應用統計系、保險金融管理系、企管系、財政稅務系系辦分別位於四樓、五樓、七樓、八樓、九樓。</p>
            </div>
        </div>
    </div>
    <div class="col col-lg-6">
        <div class="building-img" data-src="b8">
            <div class="building-panel">
                <h2>行政大樓</h2>
                <span>↓</span>
                <p>行政大樓位於大門左側，二樓有校長室、秘書室，3樓有主計室、總機室。</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-6">
        <div class="building-img" data-src="b9">
            <div class="building-panel">
                <h2>學生活動中心</h2>
                <span>↓</span>
                <p>學生活動中心位於中政大樓左側，昌明樓右側，一樓是校務會議的所在地，二樓為職涯及諮商輔導中心，三樓為學生會會辦。</p>
            </div>
        </div>
    </div>
</div>
