<div id="guide" class="container-fluid">
    <div class="row">
        <div class="col col-lg-12">
            <h1>台中科技大學校園導覽系統</h1>
            <p>對校園還不熟悉嗎？本系統提供校園各大景點以及便捷的地圖定位系統，讓您不在本校迷路。</p>
        </div>
    </div>
</div>