<div id="guide" class="container-fluid">
    <div class="row">
        <div class="col col-lg-12">
            <h1><%= nav.title%></h1>
            <p><%= nav.msg %></p>
        </div>
    </div>
</div>