<div class="head">
    <div class="control">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <a href="javascript: return;" class="title" id="titleParent">校園導覽系統　>　<%= title %></a>
    <div class="logo"><a href="/"><img src="http://cdn.robby570.tw/img/Home-icon.png" alt="校園導覽系統" title="校園導覽系統" ></a></div>
    <div class="info">
        <label id="lbUserName"></label>
        <!--<input type="text" value="" placeholder="找教室嗎?" class="text text-sm info-item">-->
        <button id="btnFrmLogIn" type="button" class="btn btn-sm btn-green info-item" onclick="Login();">登入</button>
        <button id="btnFrmLogOut" type="button" class="btn btn-sm btn-green info-item" onclick="Logout();">登出</button>
        <button id="btnFrmSignUp" type="button" class="btn btn-sm btn-green info-item" onclick="location.href='/signup'">註冊</button>
    </div>
</div>