<div class="header navbar navbar-default">
    <div class="navcon hide">
        <div class="nav-line"></div>
        <div class="nav-line"></div>
        <div class="nav-line"></div>
    </div>
    <div class="header-title">
        <a class="logo" href="/">
            校園導覽
        </a>
    </div>
    <div class="header-login">
        <button type="button" class="btn btn-green" data-toggle="modal" data-target="#login-modal">登入</button>
        <button type="button" class="btn btn-green">登出</button>
        <button type="button" class="btn btn-green">註冊</button>
    </div>
</div>
