<!-- Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>系統登入</h1><br>
            <form>
                <input id="txtUserId" type="text" name="user" placeholder="帳號">
                <input id="txtPWD" type="password" name="pass" placeholder="密碼">
                <input id="btnLogin" type="button" name="login" class="login loginmodal-submit btn-green" value="登入" onclick="LoginIn();">
            </form>

            <div class="login-help">
                <a href="/signup">註冊</a> - <a href="#">忘記密碼</a>
            </div>
        </div>
    </div>
</div>
