<div id="sidebar-wrapper">
    <div class="user-head">
        <a class="inbox-avatar" href="/account">
            <img width="64" hieght="60" src="https://fakeimg.pl/64x64/" atl="You" title="You">
        </a>
        <div class="user-info">
            <span class="user-name" id="spusername">Robby</span>
            <span class="user-email" id="spemail">ta7382@gmail.com</span>

        </div>
    </div>
    <ul class="sidebar-nav">
        <li>
            <a class="selected" href="/"><i class="fa fa-home"></i>首頁</a>
        </li>


        <% if(!session.isLogin){ %>
        <li id="nav-login" class="nav-dipose">
            <a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-home"></i>登入</a>
        </li>
        <li id="nav-signup" class="nav-dipose">
            <a href="#" data-toggle="modal" data-target="#signup-modal"><i class="fa fa-sign-in"></i>註冊</a>
        </li>
        <% } %>

        <li>
            <a href="/map"><i class="fa fa-map-marker"></i>地圖定位</a>
        </li>
        <li>
            <a href="/building"><i class="fa fa-building"></i>建物資訊</a>
        </li>
        <li>
            <a href="/art"><i class="fa fa-picture-o"></i>藝術雕像</a>
        </li>
        <li>
            <a href="/admin"><i class="fa fa-university"></i>行政單位</a>
        </li>
        <li>
            <a href="/traffic"><i class="fa fa-car"></i>交通規劃</a>
        </li>
        <li>
            <a href="/sport"><i class="fa fa-futbol-o"></i>運動休憩</a>
        </li>

        <% if(session.isLogin){ %>
        <li>
            <a href="/account"><i class="fa fa-user"></i>會員中心</a>
        </li>
        <% } %>
    </ul>
</div>
