<div id="sliderFrame" class="sport-content">
    <div id="slider">
        <a><img src="img/sport/操場.jpg" alt="操場" /></a>
        <a><img src="img/sport/籃球場.jpg" alt="籃球場" /></a>
        <a><img src="img/sport/網球場.jpg" alt="網球場" /></a>
        <a><img src="img/sport/排球場.jpg" alt="排球場" /></a>
        <a><img src="img/sport/壘球場.jpg" alt="壘球場" /></a>
        <a><img src="img/sport/活動中心.jpg" alt="活動中心" /></a>    
    </div>

    <div id="thumbs">
        <div class="thumb">
            <div class="frame"><img src="img/sport/操場.jpg" /></div>
            <div class="thumb-content"><p>操場</p>這是操場,一圈300公尺.....</div>
            <div style="clear:both;"></div>
        </div>
        <div class="thumb">
            <div class="frame"><img src="img/sport/籃球場.jpg" /></div>
            <div class="thumb-content"><p>籃球場</p>這是籃球場,單挑啦.....</div>
            <div style="clear:both;"></div>
        </div>
        <div class="thumb">
            <div class="frame"><img src="img/sport/網球場.jpg" /></div>
            <div class="thumb-content"><p>網球場</p>網球場,共有三個場第.....</div>
            <div style="clear:both;"></div>
        </div>
        <div class="thumb">
            <div class="frame"><img src="img/sport/排球場.jpg" /></div>
            <div class="thumb-content"><p>排球場</p>排球場.....</div>
            <div style="clear:both;"></div>
        </div>
        <div class="thumb">
            <div class="frame"><img src="img/sport/壘球場.jpg" /></div>
            <div class="thumb-content"><p>壘球場</p>壘球場.....</div>
            <div style="clear:both;"></div>
        </div>
        <div class="thumb">
            <div class="frame"><img src="img/sport/活動中心.jpg" /></div>
            <div class="thumb-content"><p>活動中心</p>大型活動聚會地點.....</div>
            <div style="clear:both;"></div>
        </div>
    </div>

    <div style="clear:both;height:0;"></div>
</div>
