@import 'base';
#art {
    /* Modal Setting */
    .modal {
        .modal-header {
            @include mobile {
                padding: 0;
            }
            background: $green;
            border-bottom: none;
            h4 {
                margin-left: 20px;
                color: #fff;
                font-size: 32px;
                @include mobile {
                    margin-top: 10px;
                    font-size: 20px;
                }
            }
            button {
                margin: 4px 8px 0 0;
                color: #fff;
                font-size: 40px;
                outline: none;
                opacity: .8;
                transition: all .2s ease;
                &:hover {
                    opacity: 1;
                    transform: rotate(30deg);
                }
                @include mobile {
                    margin: 10px;
                    font-size: 24px;
                }
            }
        }
        .modal-body {
            text-align: center;
            background: $dark;
            #artModalimg {
                width: 100%;
            }
            .artModalimg-toggle {
                display: none;
            }
            .img-loading {
                margin: 0 auto;
            }
        }
    }
    /* Tab Setting */
    .tab-content {
        padding-top: 20px;
        .tab-pane {
            .row {
                .col {
                    position: relative;
                    height: 300px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    border: 10px solid #fff;
                    &[data-art='plant1'] {
                        background-image: url('http://cdn.robby570.tw/img/art/八重櫻.jpg');
                    }
                    &[data-art='plant2'] {
                        background-image: url('http://cdn.robby570.tw/img/art/印度橡膠樹.jpg');
                    }
                    &[data-art='plant3'] {
                        background-image: url('http://cdn.robby570.tw/img/art/吉野櫻.jpg');
                    }
                    &[data-art='plant4'] {
                        background-image: url('http://cdn.robby570.tw/img/art/阿勃勒.jpg');
                    }
                    &[data-art='plant5'] {
                        background-image: url('http://cdn.robby570.tw/img/art/馬櫻丹.jpg');
                    }
                    &[data-art='plant6'] {
                        background-image: url('http://cdn.robby570.tw/img/art/富士櫻.jpg');
                    }
                    &[data-art='plant7'] {
                        background-image: url('http://cdn.robby570.tw/img/art/寒緋櫻.jpg');
                    }
                    &[data-art='statue1'] {
                        background-image: url('http://cdn.robby570.tw/img/art/雕塑1.jpg');
                    }
                    &[data-art='stone1'] {
                        background-image: url('http://cdn.robby570.tw/img/art/石雕1.jpg');
                    }
                    &[data-art='stone2'] {
                        background-image: url('http://cdn.robby570.tw/img/art/石雕2.jpg');
                    }
                    &[data-art='unknow'] {
                        background-image: url('https://fakeimg.pl/806x456/');
                        background-size: cover;
                    }
                    .art-brand {
                        position: absolute;
                        bottom: 30px;
                        left: 0;
                        width: 100%;
                        padding-bottom: 15px;
                        background: rgba(255, 255, 255, .6);
                        text-align: center;
                        transition: all .5s;
                        cursor: pointer;
                        &:hover {
                            bottom: 40px;
                            color: $green;
                            background: rgba(255, 255, 255, .9);
                        }
                        .fa {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}