@import '_robby';
#guide {
    padding-top: 100px;
}

#guide .row {
    padding: 0 20px 10px;
    @include mobile {
        text-align: center;
    }
    .col {
        h1 {
            padding: 0;
            margin: 0;
            font-size: 26px;
        }
        p {
            letter-spacing: 1px;
            font-size: 18px;
            margin-top: 15px;
        }
    }
}