@import '_robby';
#map {
    position: relative;
    padding: 80px 0 0;
    #gmap {
        width: 100%;
        height: calc(100vh - 80px);
        background: #E5E3DF;
    }
    .map-tab {
        display: inline-block;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 500px;
        height: calc(100vh - 80px);
        background: rgba(215, 222, 222, .8);
        @include tablet {
            width: 300px;
        }
        @include mobile {
            display: none;
        }
        .tab-search {
            display: inline-block;
            margin: 10px 0;
            .sr-input {
                float: left;
                padding: 0 10px;
                height: 40px;
                color: #8a8a8a;
                border: medium none;
                border-radius: 4px 0 0 4px;
                box-shadow: none;
            }
            .sr-btn {
                padding: 10px 20px;
                height: 40px;
                color: #fff;
                margin-right: 8px;
            }
        }
        .nav-tabs {
            background: #fff;
            li {
                width: calc(100% / 4);
                text-align: center;
                &.active a {
                    border: none !important;
                    color: $green;
                    background: #eee;
                }
                a {
                    margin-right: 0;
                    color: #8a8a8a;
                    border: none;
                    cursor: pointer;
                    &:hover,
                    &:active {
                        background: #eee;
                    }
                }
            }
        }
        .tab-content {
            padding: 15px;
            background: #fff;
            .list-box {
                overflow-y: scroll;
                display: block;
                height: calc( 100vh - 280px);
            }
        }
    }
    .map-tab-mobile {
        @include mobile {
            display: inline-block;
        }
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 40px;
        border: 1px solid #ddd;
        background: #fff;
        .nav {
            >* {
                width: calc(100% / 4);
            }
            li {
                display: inline-block;
                height: 100%;
                margin: 0;
                padding: 0;
                a {
                    display: inline-block;
                }
            }
        }
    }
}