<!-- Modal -->
  <div class="modal fade" id="signup-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div  class="modal-content tab-content">

        <!-- tab for clause -->
        <div id="clause" class="tab-pane fade in active"> 
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">隱私權政策</h4>
          </div>

          <div class="modal-body">
              <div class="container-fluid">
                  <p>非常歡迎您光臨 「台中科技大學校園導覽系統」 (以下簡稱本網站)，為了讓您能夠安心的使用本網站的各項服務與資訊，特此向您說明本網站的隱私權保護政策，以保障您的權益，請您詳閱下列內容：
                      <br><br>一、隱私權保護政策的適用範圍，包括本網站如何處理在您使用網站服務時收集到的個人識別資料。隱私權保護政策不適用於本網站以外的相關連結網站，也不適用於非本網站所委託或參與管理的人員。 
                      <br><br>二、資料的蒐集與使用方式 為了在本網站上提供您最佳的互動性服務，可能會請您提供相關個人的資料，其範圍如下：於使用會員系統或定位服務時，伺服器會自行記錄相關行徑，做為我們增進網站服務的參考依據。 
                      <br><br>三、資料之保護 本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料採用嚴格的保護措施。 
                      <br><br>四、系統記錄之資料皆為內部應用，決不對外公布。除非取得您的同意或其他法令之特別規定，本網站絕不會將您的個人資料揭露予第三人或使用於蒐集目的以外之其他用途。。 
                      <br><br>五、隱私權保護政策之修正 本網站隱私權保護政策將因應需求隨時進行修正，修正後的條款將刊登於網站上。
                  </p>
              </div>     
          </div>
          <div class="modal-footer text-center">
            <div class="row text-center">
              <button type="button" class="btn btn-lg btn-green" data-toggle="tab" href="#form">我接受</button>
            </div>
          </div>
        </div>
        <!-- /*tab for clause -->


        <!-- tab for form -->
        <div id="form" class="tab-pane fade"> 
          <form>
            <div class="modal-header">
              <i class="fa fa-undo" aria-hidden="true" data-toggle="tab" href="#clause"></i>
              <h4 class="modal-title">申請註冊</h4>
            </div>

            <div class="modal-body">
                <div class="signupmodal-container container-fluid">
                    <div class="row text-center">
                        <input id="txtUId"  type="text" placeholder="帳號" require>
                        <input id="txtPwd" type="password"  placeholder="密碼" require>
                        <input id="txtUserName" type="text" placeholder="姓名" require>
                        <input id="txtEmail" type="email"  placeholder="信箱" require>
                        <div class="g-recaptcha" data-callback="recaptchaSignupCallback" data-sitekey="6Le-mx8UAAAAAJ-b51vwTTAgWnaY02ntoH_NoJX4"></div>
                    </div>
                </div>     
            </div>
            <div class="modal-footer text-center">
              <div class="row text-center">
                <button id="btnSignSubmit" type="button" class="btn btn-lg btn-green btn-disabled" onclick="signup();" disabled>送出</button>
                <button type="reset" class="btn btn-lg btn-dark">清除</button>
              </div>
            </div>
          </form>
        </div>
        <!-- /*tab for form -->

      </div>
      <!-- /*modal-content -->
      
    </div>
  </div>


<!--
  data-dismiss="modal" 
-->