<div class="slide">
    <ul class="slide-nav">
        <li><a class="selected" href="#">弘業樓</a></li>
        <li><a href="#">昌明樓</a></li>
        <li><a href="#">翰英樓</a></li>
        <li><a href="#">奇秀樓</a></li>
        <li><a href="#">行政大樓</a></li>
        <li><a href="#">資訊大樓</a></li>
        <li><a href="#">中正大樓</a></li>
        <li><a href="#">中商大樓</a></li>
        <li><a href="#">行政大樓</a></li>
        <li><a href="#">學生活動中心</a></li>
    </ul>
</div>
<div class="clear"></div>