<div class="photo-slider">
    <div id="build1" class="photo-group selected">
        <div class="photo-text">
            <h3>弘業樓</h3>
            <p>If you organize your projects under a group, it works like a folder.
                You can manage your group member’s permissions and access to each project in the group.
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/弘業樓.jpg" alt="">
        </div>
    </div>
    <div id="build2" class="photo-group">
        <div class="photo-text">
            <h3>昌明樓</h3>
            <p>If you organize your projects under a group, it works like a folder.
                You can manage your group member’s permissions and access to each project in the group.
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/昌明樓.jpg" alt="">
        </div>
    </div>
    <div id="build3" class="photo-group">
        <div class="photo-text">
            <h3>翰英樓</h3>
            <p>If you organize your projects under a group, it works like a folder.
                You can manage your group member’s permissions and access to each project in the group.
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/翰英樓.jpg" alt="">
        </div>
    </div>
    <div id="build4" class="photo-group">
        <div class="photo-text">
            <h3>奇秀樓</h3>
            <p>If you organize your projects under a group, it works like a folder.
                You can manage your group member’s permissions and access to each project in the group.
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/奇秀樓.jpg" alt="">
        </div>
    </div>
    <div id="build5" class="photo-group">
        <div class="photo-text">
            <h3>行政大樓</h3>
            <p>If you organize your projects under a group, it works like a folder.
                You can manage your group member’s permissions and access to each project in the group.
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/行政大樓.jpg" alt="">
        </div>
    </div>
    <div id="build6" class="photo-group">
        <div class="photo-text">
            <h3>資訊館</h3>
            <p>If you organize your projects under a group, it works like a folder.
                You can manage your group member’s permissions and access to each project in the group.
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/資訊館.jpg" alt="">
        </div>
    </div>
    <div id="build7" class="photo-group">
        <div class="photo-text">
            <h3>中正大樓</h3>
            <p>If you organize your projects under a group, it works like a folder.
                You can manage your group member’s permissions and access to each project in the group.
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/中正大樓.jpg" alt="">
        </div>
    </div>
    <div id="build8" class="photo-group">
        <div class="photo-text">
            <h3>中商大樓</h3>
            <p>If you organize your projects under a group, it works like a folder.
                You can manage your group member’s permissions and access to each project in the group.
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/中商大樓.jpg" alt="">
        </div>
    </div>
    <div id="build9" class="photo-group">
        <div class="photo-text">
            <h3>行政大樓</h3>
            <p>If you organize your projects under a group, it works like a folder.
                You can manage your group member’s permissions and access to each project in the group.
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/行政大樓.jpg" alt="">
        </div>
    </div>
    <div id="build10" class="photo-group">
        <div class="photo-text">
            <h3>學生活動中心</h3>
            <p>If you organize your projects under a group, it works like a folder.
                You can manage your group member’s permissions and access to each project in the group.
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/學生活動中心.jpg" alt="">
        </div>
    </div>
</div>
