<div class="photo-slider">
    <div class="photo-text">
        <h3>A group is a collection of several projects.</h3>
        <p>If you organize your projects under a group, it works like a folder.
            You can manage your group member’s permissions and access to each project in the group.
        </p>
    </div>
    <div class="photo-img">
        <img src="img/b1.jpg" alt="">
    </div>
</div>
