<div class="photo-slider">
    <div id="build1" class="photo-group selected">
        <div class="photo-text">
            <h3>弘業樓</h3>
            <p>弘業樓位於本校大門口右側，一共有8樓，一樓為體育館場地，部分大型集會於此區進行，2、3樓層為教師研究室，其餘為教室。
流管系系辦可以在2樓找到。

            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/弘業樓.jpg" alt="">
        </div>
    </div>
    <div id="build2" class="photo-group">
        <div class="photo-text">
            <h3>昌明樓</h3>
           <p>昌明樓位於本校中庭正後方，一樓左側為進修學院，一樓右側為教官室及校安中心、生輔組、衛保組、健康中心。
室內設計系、多媒體設計系、商業設計系系辦，分別在3樓、4樓、5樓。


            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/昌明樓.jpg" alt="">
        </div>
    </div>
    <div id="build3" class="photo-group">
        <div class="photo-text">
            <h3>翰英樓</h3>
           <p>翰英樓位於操場旁，司令台後方，大部分教室為普通教室，其餘有教授休息室、專業教室及軍械室。
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/翰英樓.jpg" alt="">
        </div>
    </div>
    <div id="build4" class="photo-group">
        <div class="photo-text">
            <h3>奇秀樓</h3>
            <p>奇秀樓位於體育館後方，操場旁，1樓為體育室，B1為撞球教室，2樓為教授研究室，3、4樓為軍護專業教室。
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/奇秀樓.jpg" alt="">
        </div>
    </div>
   
    <div id="build6" class="photo-group">
        <div class="photo-text">
            <h3>資訊館</h3>
           <p>資訊館位於本校大門口左側，行政大樓後方，有電腦教室、音樂教室、視聽教室、多媒體教室 。
資管系系辦在4樓、資工系系辦位於5樓，9樓有桌球室及韻律教室。

            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/資訊館.jpg" alt="">
        </div>
    </div>
    <div id="build7" class="photo-group">
        <div class="photo-text">
            <h3>中正大樓</h3>
            <p>中正大樓位於本校大門口左側，資訊館右側，一共有9樓，包含註冊組、課務組、學生事務組、通識中心、語言中心、國際會議廳，1樓為閱覽室。
國貿系系辦位於此棟7樓，應英系、應日系、應中系系辦分別在5樓、6樓、9樓。

            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/中正大樓.jpg" alt="">
        </div>
    </div>
    <div id="build8" class="photo-group">
        <div class="photo-text">
            <h3>中商大樓</h3>
            <p>中商大樓位於中華路旁，翰英樓後方，1樓及10~12樓為圖書館，2、3樓有會議廳。
會資系、應用統計系、保險金融管理系、企管系、財政稅務系系辦分別位於4樓、5樓、7樓、8樓、9樓。

            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/中商大樓.jpg" alt="">
        </div>
    </div>
    <div id="build9" class="photo-group">
        <div class="photo-text">
            <h3>行政大樓</h3>
            <p>行政大樓位於大門左側，2樓有校長室、秘書室，3樓有主計室、總機室。
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/行政大樓.jpg" alt="">
        </div>
    </div>
    <div id="build10" class="photo-group">
        <div class="photo-text">
            <h3>學生活動中心</h3>
            <p>學生活動中心位於中政大樓左側，昌明樓右側，1樓是校務會議的所在地，2樓為職涯及諮商輔導中心，3樓為學生會會辦。
            </p>
        </div>
        <div class="photo-img">
            <img src="img/building/學生活動中心.jpg" alt="">
        </div>
    </div>
</div>
