<div id="map" class="container-fluid" >
    <div id="gmap" class="map"></div>
    <!--<div id="jstree_demo_div"></div>-->
    
    <%- include('tab') -%>
    <%- include('tab-mobile') -%>
    
</div>
