<div class="mobile-search-group flex-middle">
    <div class="search-box">
        <input id="txtMobileMapValue" type="text" class="text text-sm sr-input" placeholder="請輸入教室代號">
        <button class="btn sr-btn" type="button" onclick="MarkerKeySearch();"><i class="fa fa-search"></i></button>
    </div>
</div>
<div class="map-tab-mobile">
        <ul class="nav">
            <li><a href="#" class="map-layer" title="圖層" onclick="layerHandler($('.layer-control').hasClass('layer-control-toggle'), $('.layer-control'));return false;"><i class="fa fa-clone" aria-hidden="true"></i>圖層</a></li>
            <li><a href="#" class="map-point" title="點位管理" onclick="alertWindow(true,'功能尚未開放'); return false;"><i class="fa fa-thumb-tack" aria-hidden="true"></i>點位管理</a></li>
            <li><a href="#" class="map-poly" title="曲面管理" onclick="alertWindow(true,'功能尚未開放'); return false;"><i class="fa fa-plus-square-o" aria-hidden="true"></i>曲面管理</a></li>
            <li><a href="#" class="map-favorite" title="我的最愛" onclick="alertWindow(true,'功能尚未開放'); return false;"><i class="fa fa-heart-o" aria-hidden="true"></i>我的最愛</a></li>
        </ul>
</div>