<div class="map-tab container">
    <div class="tab-search">
        <form action="#" class="pull-left position">
            <div class="input-append">
                <input type="text" class="sr-input" placeholder="輸入教室代號或關鍵字">
                <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#map-marker">點位管理</a></li>
        <li><a data-toggle="tab" href="#map-polygon">曲面管理</a></li>
        <li><a data-toggle="tab" href="#map-layer">圖層</a></li>
        <li><a data-toggle="tab" href="#map-favorite">我的最愛</a></li>
    </ul>

    <div class="tab-content">
        <div id="map-marker" class="tab-pane fade in active">
            <div id="MarkerSearch" class="SearchGroup">
            <select id="ddlMarkerPlace" class="chosen-select ddl" data-placeholder="地點名稱">
                <option value="0">全部</option>
                <option value="6">弘業樓</option>
                <option value="4">昌明樓</option>
                <option value="5">翰英樓</option>
                <option value="8">奇秀樓</option>
                <option value="2">資訊館</option>
                <option value="1">行政大樓</option>
                <option value="3">中正大樓</option>
                <option value="7">中商大樓</option>
            </select>
                <button id="btnMarkerListSearch" type="button" class="btn btn-sm btn-green btn-search" onclick="MarkerListSearch();">搜尋</button>
                <button id="btnMarkerAdd" type="button" class="btn btn-sm btn-green btn-add">新增</button>
            </div>
            <table id="tbMarkerList">
                <tr>
                    <th>Name</th>
                    <th>Lat</th>
                    <th>Lng</th>
                    <th colspan="2"></th>
                </tr>
            </table>
        </div>
        <div id="map-polygon" class="tab-pane fade">
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="map-layer" class="tab-pane fade">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="map-favorite" class="tab-pane fade">
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>