<div class="traffic-content">
   <div class="traffic-discript">
        <div class="traffic-group">
            <div class="traffic-title">
                <h3>A、大眾交通</h3>
            </div>
            <div class="traffic-container">
                <p>於臺中火車站下車，搭乘公車前往「中友百貨」、「台中一中」、「一中街」、「臺中科技大學」。</p>
                <ul>
                    <li>台中火車站 → 台中客運8、9、12、14、15、16、35、71、82、88、100、108、132</li>
                    <li>台中火車站 → 統聯綠線61、73、83、86</li>
                    <li>台中火車站 → 全航客運5、58</li>
                </ul>
            </div>
        </div>
        <div class="traffic-group">
            <div class="traffic-title">
                <h3>B、搭乘高鐵</h3>
            </div>
            <div class="traffic-container">
                <p>由高鐵臺中站搭乘接駁車，高鐵臺中站 (約15分鐘一班車)→中國醫藥大學，於一中商圈下車再步行至「臺中科技大學」。</p>
            </div>
        </div>
            <div class="traffic-group">
            <div class="traffic-title">
                <h3>C、開車前往</h3>
            </div>
            <div class="traffic-container">
                <ul>
                    <li>本校位於台中市市區，因此交通繁雜，建議開車前往人士可利用台中公園、中友百貨或本校位於中華路之中商大樓收費停車場停車。</li>
                    <li>中清(大雅)交流道→下交流道(接中清路→大雅路→五權路(左轉→中華路二段(右轉)→於中商大樓進入。</li>
                    <li>南屯(五權)交流道→下交流道(五權西路→五權路→中正路(右轉)→三民路二段(左傳)→三民路三段(左手邊)。</li>
                </ul>
            </div>
        </div>
   </div>
   <div class="traffic-map">
     <iframe frameborder="0" height="600px" width="100%" scrolling="no" src="http://maps.google.com.tw/maps?f=q&amp;source=s_q&amp;hl=zh-TW&amp;geocode=&amp;q=%E5%9C%8B%E7%AB%8B%E8%87%BA%E4%B8%AD%E7%A7%91%E6%8A%80%E5%A4%A7%E5%AD%B8&amp;aq=&amp;sll=24.220103,120.955874&amp;sspn=1.070787,2.113495&amp;brcurrent=3,0x34693d615982862d:0xe09e5f83f830e084,0,0x346917dff97922ef:0x87523ee47ea6447f&amp;ie=UTF8&amp;hq=%E5%9C%8B%E7%AB%8B%E8%87%BA%E4%B8%AD%E7%A7%91%E6%8A%80%E5%A4%A7%E5%AD%B8&amp;t=m&amp;ll=24.150258,120.68387&amp;spn=0.006853,0.012875&amp;z=17&amp;output=embed" width="600"></iframe><br />
   </div>
</div>
