<div class="room-content">
    <ul class="room-list">
        <li><a href="https://sso.nutc.edu.tw/ePortal/" target="_blank">ePortal</a></li>
        <li><a href="http://lib.nutc.edu.tw/bin/home.php">圖書館</a></li>
        <li><a href="http://www.nutc.edu.tw/files/11-1000-3586.php">入學管道</a></li>
        <li><a href="http://aca.nutc.edu.tw/files/11-1003-4596.php">行事曆</a></li>
        <li><a href="http://admission.nutc.edu.tw/files/40-1031-287.php">碩士班甄試入學最新公告</a></li>
    </ul>
</div>