<div class="footer">
    <div class="room-list">
        <a href="http://www.nutc.edu.tw/bin/home.php" target="_blank">台中科技大學</a>
        <label class="room-line">∣</label>
        <a href="https://sso.nutc.edu.tw/ePortal/" target="_blank">ePortal</a>
        <label class="room-line">∣</label>
        <a href="http://lib.nutc.edu.tw/bin/home.php" target="_blank">圖書館</a>
        <label class="room-line">∣</label>
        <a href="http://aca.nutc.edu.tw/files/11-1003-4596.php" target="_blank">行事曆</a>
    </div>
    <div class="footer-title">
        <label>COPYRIGHT (C) 2017 NUTC 校園導覽系統 ALL RIGHT RESERVED</label>
    </div>
</div>

