<div class="head">
    <div class="control">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <a href="home" class="title">校園導覽系統  -  <%= title %></a>
    <div class="logo"><a href="/"><img src="/img/Home-icon.png" alt="" width="40" height="40"></a></div>
    <div class="info">
        <label id="lbUserName"></label>
        <input type="text" value="" placeholder="找教室嗎?" class="text text-sm info-item">
        <button id="btnFrmLogIn" type="button" class="btn btn-sm btn-green info-item" onclick="Login();">登入</button>
        <button id="btnFrmLogOut" type="button" class="btn btn-sm btn-green info-item" onclick="Logout();">登出</button>
    </div>
</div>