<div class="head">
    <div class="control">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <a href="#" class="title">校園導覽系統  -  <%= title %></a>
    <div class="logo"><img src="/img/Home-icon.png" alt="" width="40" height="40"></div>
    <div class="info">
        <input type="text" value="" placeholder="Search" class="text text-sm info-item">
        <button type="button" class="btn btn-sm btn-green info-item" onclick="Login();">Login</button>
    </div>
</div>