<div class="login-modal">
    <div class="login-form">
        <a href="javascript: LoginClose();"><img class="login-close" src="/img/close.png" width="40" /></a>
        <div class="login-row">
            <h2>系統登入</h2>
        </div>
        <div class="login-row">
            <input type="text" placeholder="帳號">
        </div>
        <div class="login-row">
            <input type="password" placeholder="密碼">
        </div>
        <div class="login-row">
            <button type="button">登入</button>
        </div>
    </div>
</div>