@charset "UTF-8";
/* transform */
/* Size */
/* navcon style */
.navcon {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .navcon:hover {
    transition: all .5s;
    opacity: .9; }
  .navcon .nav-line {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    /* navcon for header */ }
    .navcon .nav-line:first-child {
      top: 0px; }
    .navcon .nav-line:nth-child(2) {
      top: 10px; }
    .navcon .nav-line:nth-child(3) {
      top: 20px; }

/* 垂直置中 */
.flex-middle {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

/* Loading */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #41CAC0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.6s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* 圖形 */
.icon-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 10px 15px 10px;
  border-color: transparent transparent #3D454D transparent; }
  .icon-triangle.icon-triangle-right {
    border-width: 10px 0px 10px 15px;
    border-color: transparent transparent transparent #3D454D; }
    .icon-triangle.icon-triangle-right:hover {
      border-color: transparent transparent transparent #383F45; }
  .icon-triangle.icon-triangle-left {
    border-width: 10px 15px 10px 0px;
    border-color: transparent #3D454D transparent transparent; }
    .icon-triangle.icon-triangle-left:hover {
      border-color: transparent #383F45 transparent transparent; }
  .icon-triangle.icon-triangle-bottom {
    border-width: 15px 10px 0px 10px;
    border-color: #3D454D transparent transparent transparent; }
    .icon-triangle.icon-triangle-bottom:hover {
      border-color: #383F45 transparent transparent transparent; }
