.home-box {
    float: left;
    width: calc(100% / 3);
    text-align: center;
    position: relative;
}

.home-box img {
    margin: 15px;
    cursor: pointer;
    width: 80%;
    opacity: .8;
}

.home-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 90%;
    opacity: 0;
    color: #666;
    background: rgba(255, 255, 255, .0);
    padding-top: 30%;
    font-size: 30px;
    font-weight: 800;
    transition: all .2s;
}

.home-text:hover {
    opacity: 1;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .5);
}