.map {
    width: 100%;
    height: calc(100vh - 150px);
}


#dialogMarker{
    padding: 5px 15px;
}

.tbMarkerAdd{
    width: 100%;
    border-collapse: collapse;
}

.tbMarkerAdd tr{
    border-top: 1px solid #EEEEEE;
}

.tbMarkerAdd th{
    text-align: left;
    line-height: 25px;
    padding: 12px 0;
}