@charset "UTF-8";
/* transform */
/* Size */
/* transform */
/* Size */
/* navcon style */
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
.navcon {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .navcon:hover {
    transition: all .5s;
    opacity: .9; }
  .navcon .nav-line {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    /* navcon for header */ }
    .navcon .nav-line:first-child {
      top: 0px; }
    .navcon .nav-line:nth-child(2) {
      top: 10px; }
    .navcon .nav-line:nth-child(3) {
      top: 20px; }

/* 垂直置中 */
.flex-middle {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

/* Loading */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #41CAC0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.6s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

* {
  font-family: 'Noto Sans TC', sans-serif; }

body {
  overflow-x: hidden; }

/* Toggle Styles */
#wrapper {
  position: relative;
  padding-left: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* fix content width */ }
  #wrapper.toggled {
    padding-left: 250px; }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px; }
    #wrapper.toggled #page-content-wrapper {
      position: absolute;
      margin-right: -250px; }
  @media (min-width: 768px) {
    #wrapper {
      padding-left: 0; }
      #wrapper.toggled {
        padding-left: 250px; }
        #wrapper.toggled #page-content-wrapper {
          position: relative;
          margin-right: 0; }
        #wrapper.toggled #sidebar-wrapper {
          width: 250px; } }
  #wrapper #page-content-wrapper {
    width: 100%;
    position: absolute; }
    @media (min-width: 768px) {
      #wrapper #page-content-wrapper {
        position: relative; } }
    #wrapper #page-content-wrapper .header {
      z-index: 1000;
      position: fixed;
      overflow: hidden;
      padding: 15px 20px 20px;
      width: 100%;
      height: 80px;
      background: #41CAC0;
      border: none;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      /* navcon for left menu */
      /*
            .header-login {
                position: absolute;
                right: 40px;
                top: 15px;
                button {
                    margin-left: 5px;
                    @include mobile {
                        display: none;
                    }
                }
            }*/ }
      #wrapper #page-content-wrapper .header.header-toggled {
        width: calc(100% - 250px); }
      #wrapper #page-content-wrapper .header .navcon {
        position: absolute;
        margin-right: 40px;
        margin-top: 10px; }
        @media (max-width: 768px) {
          #wrapper #page-content-wrapper .header .navcon {
            margin-right: 20px; } }
      #wrapper #page-content-wrapper .header .header-title {
        position: absolute;
        left: 70px;
        height: 40px;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        #wrapper #page-content-wrapper .header .header-title a {
          text-decoration: none; }
          #wrapper #page-content-wrapper .header .header-title a img {
            float: left;
            margin-top: 5px; }
          #wrapper #page-content-wrapper .header .header-title a .logo {
            margin-left: 160px;
            display: block;
            height: 40px;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            line-height: 40px;
            text-decoration: none; }
            @media (max-width: 768px) {
              #wrapper #page-content-wrapper .header .header-title a .logo {
                color: transparent; } }
      @media (max-width: 768px) {
        #wrapper #page-content-wrapper .header .header-search {
          display: none; } }
      #wrapper #page-content-wrapper .header .header-search .sr-input {
        border: medium none;
        border-radius: 4px 0 0 4px;
        box-shadow: none;
        color: #8a8a8a;
        float: left;
        height: 40px;
        padding: 0 10px; }
      #wrapper #page-content-wrapper .header .header-search .sr-btn {
        background: none repeat scroll 0 0 #00a6b2;
        border: medium none;
        border-radius: 0 4px 4px 0;
        color: #fff;
        height: 40px;
        padding: 0 20px; }
  #wrapper #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-x: hidden;
    background: #E5E8EF;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /* Profile */
    /* Sidebar Styles */ }
    @media (min-width: 768px) {
      #wrapper #sidebar-wrapper {
        width: 0; } }
    #wrapper #sidebar-wrapper .user-head {
      position: relative;
      background: none repeat scroll 0 0 #00a8b3;
      border-radius: 4px 0 0;
      color: #fff;
      max-height: 80px;
      overflow: hidden;
      padding: 10px; }
      #wrapper #sidebar-wrapper .user-head .inbox-avatar {
        float: left;
        width: 65px; }
        #wrapper #sidebar-wrapper .user-head .inbox-avatar img {
          border-radius: 4px;
          background: #00A8B3; }
      #wrapper #sidebar-wrapper .user-head .user-info {
        width: 100%;
        margin: 10px 0 0 10px;
        display: block; }
        #wrapper #sidebar-wrapper .user-head .user-info span {
          display: inline-block;
          padding-left: 10px; }
          #wrapper #sidebar-wrapper .user-head .user-info span.user-name {
            font-size: 18px;
            margin-bottom: 2px; }
          #wrapper #sidebar-wrapper .user-head .user-info span.user-email {
            font-size: 12px;
            color: #87e2e7;
            text-decoration: none; }
    #wrapper #sidebar-wrapper .sidebar-nav {
      position: absolute;
      top: 120px;
      width: 250px;
      margin: 0;
      padding: 0;
      list-style: none; }
      #wrapper #sidebar-wrapper .sidebar-nav li {
        text-indent: 10px;
        line-height: 40px; }
      #wrapper #sidebar-wrapper .sidebar-nav a {
        display: block;
        padding: 4px 8px;
        margin: 0;
        text-decoration: none;
        color: #6a6a6a;
        background: #E5E8EF; }
        #wrapper #sidebar-wrapper .sidebar-nav a:hover {
          text-decoration: none;
          background: none repeat scroll 0 0 #D5D7DE; }
        #wrapper #sidebar-wrapper .sidebar-nav a:active, #wrapper #sidebar-wrapper .sidebar-nav a:focus, #wrapper #sidebar-wrapper .sidebar-nav a.selected {
          text-decoration: none;
          background: #D5D7DE; }
        #wrapper #sidebar-wrapper .sidebar-nav a i {
          display: inline-block;
          width: 40px;
          font-size: 16px; }

/* ***************************************** */
/* container */
/* login modal */
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em; }
  .loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative; }
  .loginmodal-container input[type=text],
  .loginmodal-container input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  .loginmodal-container input[type=text]:hover,
  .loginmodal-container input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
  .loginmodal-container .loginmodal {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
  user-select: none; */ }
  .loginmodal-container .loginmodal-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    padding: 17px 0px;
    font-size: 20px; }
    .loginmodal-container .loginmodal-submit:hover {
      border: 0px;
      text-shadow: 0 1px rgba(0, 0, 0, 0.3); }
  .loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease; }
    .loginmodal-container a:hover {
      color: #444; }
  .loginmodal-container .login-help {
    font-size: 18px; }

/* footer */
#footer {
  margin-top: 100px;
  padding-top: 40px;
  border-top: 1.5px solid #DADADA; }
  #footer hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #DADADA;
    /* old IE */
    background-color: #DADADA;
    /* Modern Browsers */ }
  #footer .bg-circle {
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  #footer .row:last-child {
    padding-bottom: 10px; }
  #footer .row p {
    color: #666; }
  @media (max-width: 768px) {
    #footer .row {
      text-align: center; } }
