@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.wrapper {
    margin: 0;
    padding: 0;
}


/* navbar */

.navbar {
    width: 220px;
    position: fixed;
    background: #3D454D;
}

.navbar .title {
    height: 50px;
}

.navbar .title .control {
    position: absolute;
    top: 16px;
    left: 22px;
}

.navbar .title .control:hover {
    cursor: pointer;
}

.navbar .title .control .line {
    height: 3px;
    background: #B1B3B6;
    width: 16px;
    margin: 2px 0;
    border-radius: 2px;
    -webkit-transition: background .2s;
}

.navbar .nav {
    margin: 0;
    padding: 0;
}

.navbar .nav .nav-item {
    height: 30px;
    padding: 8px 24px;
    color: #B1B3B6;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.navbar .nav .nav-item:hover {
    background: #383F45;
}

.navbar .nav .selected {
    background: #383F45;
    color: #FFF;
}


/* container */

.container {
    position: absolute;
    left: 220px;
    width: calc(100% - 220px);
    height: 100%;
}

.container .head {
    height: 50px;
    background: #FAFAFA;
    border-bottom: 1.5px solid #DADADA;
}

.container .head .control {
    position: absolute;
    margin: 2px 0 0 5px;
    padding: 10px;
    float: left;
    display: none;
}

.container .head .control:hover {
    cursor: pointer;
    background: #EEEEEE;
}

.container .head .control .line {
    height: 3px;
    background: #666666;
    width: 16px;
    margin: 2px 0;
    border-radius: 2px;
    -webkit-transition: background .2s;
}

.container .head .title {
    position: absolute;
    left: 30px;
    margin: 6px 0 0 20px;
    padding: 0;
    float: left;
    color: #666666;
    text-decoration: none;
    font-size: 18px;
}

.container .head .logo {
    margin: 8px auto;
    width: 40px;
}

.container .head .logo img {
    float: left;
}

.container .head .info {
    padding: 0 20px;
    float: right;
}

.container .head .info .info-item {
    margin: 5px;
}

.content {
    width: 100%;
}

.footer {
    width: 100%;
    margin: 40px 0 20px 0;
    text-align: center;
}

.footer p {
    color: #888888;
}

.slide {
    margin: 20px;
}

.slide .slide-nav {
    height: 30px;
    margin: auto;
    padding: 0;
    list-style-type: none;
}

.slide .slide-nav li {
    float: left;
}

.slide .slide-nav li a {
    display: block;
    padding: 4px 8px;
    margin: 0;
    height: 30px;
    text-decoration: none;
    color: #AAAAAA;
}

.slide .slide-nav .selected {
    color: #666666;
    border-bottom: 2px solid #4A8BEE;
}

.slide .slide-nav li a:hover {
    color: #666666;
}

.row {
    margin: 10px 20px;
}

.btn {
    outline: none;
    cursor: pointer;
    color: #FFF;
    border-radius: 3px;
    border: 0;
    box-shadow: none;
}

.btn-sm {
    height: 33px;
    width: 60px;
}

.btn-lg {
    height: 33px;
    width: 100px;
}

.btn-green {
    background: #38AE67;
}

.btn-green:hover {
    background: #2FAA60;
}

.btn-green:active {
    background: #2CA05B;
    box-shadow: 0 0 10px #289354 inset;
}

.text {
    height: 20px;
    padding: 6px 10px;
    margin: 4px 10px;
    color: #666666;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    outline: none;
}

.text:focus {
    box-shadow: 0px 0px 10px 5px #CCCCCC;
    border: 1px solid #BBBBBB;
}

.text-lg {
    width: 200px;
}

.text-sm {
    width: 120px;
}

.clear {
    height: 1px;
    background: #DDDDDD;
    width: 100%;
    margin: 5px 0;
}