<!DOCTYPE html>
<html lang="zh-Hans-TW">
<head>
	<title>NUTCGO - Not Found (404)</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="http://cdn.robby570.tw/img/favicon_16x16.ico" type="image/ico">
	<link rel="stylesheet" type="text/css" href="404/screen.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="404/print.css" media="print" />
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script>
		console.log('Design by Shinobi.');
	</script>
</head>
<body id="e404">

<div id="root">
	<div id="content">
		<div class="outer">
			<div id="error">
				<h1 class="a">NUTCGO 404!</h1>
				<p>抱歉網址出錯囉~ 趕快返回上一頁吧~ <a href="/">返回</a></p>
			</div>
		</div>
	</div>
</div>

</body>
</html>