<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-4" data-art="plant1">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>八重櫻</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="plant2">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>印度橡膠樹</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="plant3">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>吉野櫻</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4" data-art="plant4">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>阿勃勒</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="plant5">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>馬櫻丹</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="plant6">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>富士櫻</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4" data-art="plant7">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>寒緋櫻</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="unknow">
        </div>
        <div class="col col-lg-4" data-art="unknow">
        </div>
    </div>
</div>

