<!-- Home -->
<div id="home" class="container-fluid">
    <div class="row">
        <div class="col col-lg-4" data-type="map">
            <a href="/map">
                <div class="shade-img">
                    <span>地圖定位</span>
                    <p class="shade-msg">整合GoogleMap之<br>地圖定位系統</p>
                </div>
            </a>
        </div>
        <div class="col col-lg-4" data-type="building">
            <a href="/building">
                <div class="shade-img">
                    <span>建物資訊</span>
                    <p class="shade-msg">提供校園區內<br>建物簡介</p>
                </div>
            </a>
        </div>
        <div class="col col-lg-4" data-type="art">
            <a href="/art">
                <div class="shade-img">
                    <span>藝術雕像</span>
                    <p class="shade-msg">趕快一起欣賞<br>美麗的校園吧！</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4" data-type="admin">
            <a href="/admin">
                <div class="shade-img">
                    <span>行政單位</span>
                    <p class="shade-msg">找老師？</p>
                </div>
            </a>
        </div>
        <div class="col col-lg-4" data-type="traffic">
            <a href="/traffic">
                <div class="shade-img">
                    <span>交通規劃</span>
                    <p class="shade-msg">找本校？</p>
                </div>
            </a>
        </div>
        <div class="col col-lg-4" data-type="sport">
            <a href="/sport">
                <div class="shade-img">
                    <span>運動休憩</span>
                    <p class="shade-msg">找球場？</p>
                </div>
            </a>
        </div>
    </div>
</div>