<div class="row">
    <div class="home-box">
        <a href="building">
            <img src="http://cdn.robby570.tw/img/home_build.jpg" alt="">
            <div class="home-text">建物資訊</div>
        </a>
    </div>
    <div class="home-box">
        <a href="art">
            <img src="http://cdn.robby570.tw/img/home_art.jpg" alt="">
            <div class="home-text">藝術雕像</div>
        </a>
    </div>
    <div class="home-box">
        <a href="admin">
            <img src="http://cdn.robby570.tw/img/home_admin.jpg" alt="">
            <div class="home-text">行政單位</div>
        </a>
    </div>
</div>
<div class="row">
    <div class="home-box">
        <a href="traffic">
            <img src="http://cdn.robby570.tw/img/home_traffic.jpg" alt="">
            <div class="home-text">交通規劃</div>
        </a>
    </div>
    <div class="home-box">
        <a href="sport">
            <img src="http://cdn.robby570.tw/img/home_sport.jpg" alt="">
            <div class="home-text">運動休憩</div>
        </a>
    </div>
    <div class="home-box">
        <a href="map">
            <img src="http://cdn.robby570.tw/img/home_map.jpg" alt="">
            <div class="home-text">地圖定位</div>
        </a>
    </div>
</div>