<div class="row">
    <input id="txtMapValue" type="text" value="" placeholder="輸入教室代號或關鍵字" class="text text-lg">
    <button type="button" class="btn btn-lg btn-green" onclick="findMarker();">尋找</button>
    <button type="button" class="btn btn-lg btn-green" onclick="initMap();">重置</button>
    <button type="button" class="btn btn-lg btn-green" onclick="deleteMarkers();">清除</button>
    <button type="button" class="btn btn-lg btn-green" onclick="doorMarker();">校門口</button>
</div>
<div class="row">
    <div id="gmap" class="map"></div>
</div>