<div class="row">
    <div class="home-box">
        <a href="building"><img src="img/home_build.jpg" alt=""></a>
    </div>
    <div class="home-box">
        <a href="art"><img src="img/home_art.jpg" alt=""></a>
    </div>
    <div class="home-box">
        <a href="admin"><img src="img/home_admin.jpg" alt=""></a>
    </div>
</div>
<div class="row">
    <div class="home-box">
        <a href="traffic"><img src="img/home_traffic.jpg" alt=""></a>
    </div>
    <div class="home-box">
        <a href="sport"><img src="img/home_sport.jpg" alt=""></a>
    </div>
    <div class="home-box">
        <a href="map"><img src="img/home_map.jpg" alt=""></a>
    </div>
</div>