<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-4" data-art="art-goup1-1">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3>八重櫻</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="art-goup1-2">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3>印度橡膠樹</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="art-goup1-3">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3>吉野櫻</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4" data-art="art-goup2-1">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3>阿勃勒</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="art-goup2-2">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3>馬櫻丹</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="art-goup2-3">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3>富士櫻</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4" data-art="art-goup3-1">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3>寒緋櫻</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="art-goup3-2">
        </div>
        <div class="col col-lg-4" data-art="art-goup3-3">
        </div>
    </div>
</div>

