<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-4" data-art="art-goup1-1">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>八重櫻</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="art-goup1-2">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>印度橡膠樹</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="art-goup1-3">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>吉野櫻</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4" data-art="art-goup2-1">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>阿勃勒</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="art-goup2-2">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>馬櫻丹</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="art-goup3-3">
        </div>
    </div>
</div>

