<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-4" data-art="stone1">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>石雕</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="stone2">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>石雕</h3>
            </div>
        </div>
        <div class="col col-lg-4" data-art="unknow">
            <div class="art-brand" data-toggle="modal" data-target="#artModal">
                <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>石雕</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4" data-art="unknow">
        </div>
        <div class="col col-lg-4" data-art="unknow">
        </div>
        <div class="col col-lg-4" data-art="unknow">
        </div>
    </div>
</div>

