
<!-- Art -->
<div id="art" class="container-fluid">

    <%- include('model') -%>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#art1">園藝</a></li>
        <li><a data-toggle="tab" href="#art2">雕塑</a></li>
        <li><a data-toggle="tab" href="#art3">石雕</a></li>
    </ul>

    <div class="tab-content">
        <div id="art1" class="tab-pane fade in active">
            <%- include('art1') -%>
        </div>
        <div id="art2" class="tab-pane fade">
            <h3>雕塑</h3>
            <p>Some content in menu 1.</p>
        </div>
        <div id="art3" class="tab-pane fade">
            <h3>石雕</h3>
            <p>Some content in menu 2.</p>
        </div>
    </div>
</div>
