<div id="photo-art">

    <div id="photo-slider-plant" class="photo-slider">
        <div class="photo-box">
            <img src="img/art/八重櫻.jpg" data-img="img/art/八重櫻_說明.jpg" data-title="八重櫻" alt="">
        </div>
        <div class="photo-box">
            <img src="img/art/印度橡膠樹.jpg" data-img="img/art/印度橡膠樹_說明.jpg" data-title="印度橡膠樹" alt="">
        </div>
        <div class="photo-box">
            <img src="img/art/吉野櫻.jpg" data-img="img/art/吉野櫻_說明.jpg" data-title="吉野櫻" alt="">
        </div>
        <div class="photo-box">
            <img src="img/art/阿勃勒.jpg" data-img="img/art/阿勃勒_說明.jpg" data-title="阿勃勒" alt="">
        </div>
        <div class="photo-box">
            <img src="img/art/馬櫻丹.jpg" data-img="img/art/馬櫻丹_說明.jpg" data-title="馬櫻丹" alt="">
        </div>
        <div class="photo-box">
            <img src="img/art/富士櫻.jpg" data-img="img/art/富士櫻_說明.jpg" data-title="富士櫻" alt="">
        </div>
        <div class="photo-box">
            <img src="img/art/寒緋櫻.jpg" data-img="img/art/寒緋櫻_說明.jpg" data-title="寒緋櫻" alt="">
        </div>
    </div>


    <div id="photo-slider-sculpt" class="photo-slider">
        <div class="photo-box">
            <img src="img/art/雕塑1.jpg" data-img="img/art/雕塑1.jpg" data-title="雕塑1" alt="">
        </div>
    </div>


    <div id="photo-slider-stone" class="photo-slider">
        <div class="photo-box">
            <img src="img/art/石雕1.jpg" data-img="img/art/石雕1.jpg" data-title="石雕1" alt="">
        </div>
        <div class="photo-box">
            <img src="img/art/石雕2.jpg" data-img="img/art/石雕2.jpg" data-title="石雕2" alt="">
        </div>
    </div>

</div>


<!-- Enter Photo -->
<div class="photo-form">
    <div class="photo-title">
        <label class="photo-main-title">八重櫻</label>
        <div class="photo-control">X</div>
    </div>
    <div class="photo-main">
        <img class="photo-main-img" src="img/art/八重櫻_說明.jpg" alt="" />
    </div>
</div>