<!-- Footer -->
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <!-- footer column 1 start -->
            <div class="col-md-4">
                <!-- row start -->
                <div class="row">
                    <div class="col-sm-3">
                        <a class="bg-circle bg-info" href="http://www.nutc.edu.tw/bin/home.php" target="_blank">
                                        <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
                                    </a>
                    </div>
                    <div class="col-sm-9">
                        <h4>台中科技大學</h4>
                        <p>學校網站入口</p>
                    </div>
                </div>
                <!-- row end -->
                <!-- row start -->
                <div class="row">
                    <div class="col-sm-3">
                        <a class="bg-circle bg-danger" href="http://nd.nutc.edu.tw/bin/home.php" target="_blank">
                                        <i class="fa fa-2x fa-fw fa-laptop" aria-hidden="true "></i>
                                    </a>
                    </div>
                    <div class="col-sm-9">
                        <h4>進修部</h4>
                        <p>台中科大進修部網站</p>
                    </div>
                </div>
                <!-- row end -->
            </div>
            <!-- footer column 1 end -->
            <!-- footer column 2 start -->
            <div class="col-md-4">
                <!-- row start -->
                <div class="row">
                    <div class="col-sm-3">
                        <a class="bg-circle bg-danger" href="https://sso.nutc.edu.tw/ePortal/" target="_blank">
                                        <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
                                    </a>
                    </div>
                    <div class="col-sm-9">
                        <h4>ePortal</h4>
                        <p>使用者入口</p>
                    </div>
                </div>
                <!-- row end -->
                <!-- row start -->
                <div class="row">
                    <div class="col-sm-3">
                        <a class="bg-circle bg-info" href="http://lib.nutc.edu.tw/bin/home.php" target="_blank">
                                        <i class="fa fa-2x fa-fw fa-book" aria-hidden="true "></i>
                                    </a>
                    </div>
                    <div class="col-sm-9">
                        <h4>圖書館</h4>
                        <p>提供專業的圖書資源</p>
                    </div>
                </div>
                <!-- row end -->
            </div>
            <!-- footer column 2 end -->
            <!-- footer column 3 start -->
            <div class="col-md-4">
                <!-- row starting  -->
                <div class="row">
                    <div class="col-sm-3">
                        <a class="bg-circle bg-info" href="http://aca.nutc.edu.tw/files/11-1003-4596.php" target="_blank">
                                        <i class="fa fa-2x fa-fw fa-file-pdf-o" aria-hidden="true "></i>
                                    </a>
                    </div>
                    <div class="col-sm-9">
                        <h4>行事曆</h4>
                        <p>快點看看還有什麼事情吧</p>

                    </div>
                </div>
                <!-- row ended -->
                <!-- row starting  -->
                <div class="row">
                    <div class="col-sm-3">
                        <a class="bg-circle bg-danger" href="http://www.nutc.edu.tw/files/11-1000-3586.php" target="_blank">
                                        <i class="fa fa-2x fa-fw fa-info" aria-hidden="true "></i>
                                    </a>
                    </div>
                    <div class="col-sm-9">
                        <h4>入學管道</h4>
                        <p>本校升學管道說明</p>
                    </div>
                </div>
                <!-- row ended -->
            </div>
            <!-- footer column 3 end -->
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <hr>
                <p>COPYRIGHT &copy; 2017 NUTCGO</p>
                <p>ALL RIGHT RESERVED</p>
            </div>
        </div>
    </div>
</div>