<div id="sidebar-wrapper">
    <div class="user-head">

        <a class="inbox-avatar" href="/account">
            <img width="64" hieght="60" src="https://fakeimg.pl/64x64/" atl="You" title="You">
        </a>
        <% if(session.IsLogin){ %>
        <div class="user-info">
            <span class="user-name" id="spusername"><%= session.UserData.UserName  %></span>
            <span class="user-email" id="spemail"><%= session.UserData.Email %></span>
        </div>
        <% } %>
    </div>
    <ul class="sidebar-nav">
        <li>
            <a <% if( nav.id == 'home') { %> class="selected"  <% } %>  href="/"><i class="fa fa-home"></i>首頁</a>
        </li>


        <% if(!session.IsLogin){ %>
        <li id="nav-login" class="nav-dipose">
            <a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-home"></i>登入</a>
        </li>
        <li id="nav-signup" class="nav-dipose">
            <a href="#" data-toggle="modal" data-target="#signup-modal"><i class="fa fa-sign-in"></i>註冊</a>
        </li>
        <% } %>

        <li>
            <a <% if( nav.id == 'map') { %> class="selected"  <% } %>   href="/map"><i class="fa fa-map-marker"></i>地圖定位</a>
        </li>
        <li>
            <a <% if( nav.id == 'sport') { %> class="selected"  <% } %>   href="/sport"><i class="fa fa-futbol-o"></i>運動休憩</a>
        </li>
        <li>
            <a <% if( nav.id == 'art') { %> class="selected"  <% } %>   href="/art"><i class="fa fa-picture-o"></i>藝術雕像</a>
        </li>
        <li>
            <a <% if( nav.id == 'building') { %> class="selected"  <% } %>   href="/building"><i class="fa fa-building"></i>建物資訊</a>
        </li>
        <li>
            <a <% if( nav.id == 'amin') { %> class="selected"  <% } %>   href="/admin"><i class="fa fa-university"></i>行政單位</a>
        </li>
        <li>
            <a <% if( nav.id == 'traffic') { %> class="selected"  <% } %>   href="/traffic"><i class="fa fa-car"></i>交通規劃</a>
        </li>

        <% if(session.IsLogin){ %>
            <li>
                <a href="#" data-toggle="modal" data-target="#account-modal"><i class="fa fa-user"></i>會員中心</a>
            </li>
            <li>
                <a href="#" onclick="Logout();"><i class="fa fa-sign-out"></i>登出</a>
            </li>
        <% } %>

    </ul>
</div>
