<div class="row">
    <div class="col col-lg-6">
        <div class="sport-img" data-src="s1">
            <div class="sport-panel">
                <h2>操場</h2>
                <span>↓</span>
                <p>操場位於昌明樓左側、弘業樓右側。</p>
            </div>
        </div>
    </div>
    <div class="col col-lg-6">
        <div class="sport-img" data-src="s2">
            <div class="sport-panel">
                <h2>籃球場</h2>
                <span>↓</span>
                <p>籃球場位於昌明樓正後方。</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-6">
        <div class="sport-img" data-src="s3">
            <div class="sport-panel">
                <h2>網球場</h2>
                <span>↓</span>
                <p>網球場在操場中間。</p>
            </div>
        </div>
    </div>
    <div class="col col-lg-6">
        <div class="sport-img" data-src="s4">
            <div class="sport-panel">
                <h2>排球場</h2>
                <span>↓</span>
                <p>排球場位於翰英樓前方、司令台兩側。</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-6">
        <div class="sport-img" data-src="s5">
            <div class="sport-panel">
                <h2>壘球場</h2>
                <span>↓</span>
                <p>壘球場在操場旁，奇秀樓和體育館中間。 。資管系系辦在4樓、資工系系辦位於五樓，九樓有桌球室及韻律教室。</p>
            </div>
        </div>
    </div>
    <div class="col col-lg-6">
        <div class="sport-img" data-src="s6">
            <div class="sport-panel">
                <h2>羽球場</h2>
                <span>↓</span>
                <p>羽球場在體育館1樓。</p>
            </div>
        </div>
    </div>
</div>


