<!-- Admin -->
<div id="admin" class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#admin1">中正大樓</a></li>
        <li><a data-toggle="tab" href="#admin2">行政大樓</a></li>
        <li><a data-toggle="tab" href="#admin3">中商大樓</a></li>
    </ul>

    <div class="tab-content">
        <div id="admin1" class="tab-pane fade in active">
            <h3>中正大樓</h3>
            <p>Some content.</p>
        </div>
        <div id="admin2" class="tab-pane fade">
            <h3>行政大樓</h3>
            <p>Some content in menu 1.</p>
        </div>
        <div id="admin3" class="tab-pane fade">
            <h3>中商大樓</h3>
            <p>Some content in menu 2.</p>
        </div>
    </div>
</div>

