<div class="modal fade" id="adminModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
            <img id="adminModalimg" class="adminModalImg-toggle" src="" width="100%">
            <img class="img-loading" src="http://cdn.robby570.tw/img/loading.gif">
        </div>
        </div>
    </div>
</div>