<form action="#" method="post">
<div class="sign">
    <div class="sign-group">
        <h3>會員中心</h3>
        <table class="tablesign">
            <tr>
                <th>帳號</th>
                <td><input id="txtUserId" type="text" class="text text-lg" readonly></td>
            </tr>
            <tr>
                <th>密碼</th>
                <td><input id="txtPwd" type="password" class="text text-lg"></td>
            </tr>
            <tr>
                <th>姓名</th>
                <td><input id="txtUserName" type="text" class="text text-lg"></td>
            </tr>
            <tr>
                <th>信箱</th>
                <td><input id="txtEmail" type="text" class="text text-lg"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" id="btnSignSubmit" class="btn btn-lg btn-green">更新</button>
                </td>
            </tr>
        </table>
    </div>
</div>
</form>