<div>
    <h3>註冊會員</h3>
    <table>
        <tr>
            <th>姓名</th>
            <td><input type="text" class="text text-lg"></td>
        </tr>
        <tr>
            <th>帳號</th>
            <td><input type="text" class="text text-lg"></td>
        </tr>
        <tr>
            <th>密碼</th>
            <td><input type="password" class="text text-lg"></td>
        </tr>
    </table>
</div>